<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/bootstrap.min.css">
	<link rel="stylesheet" href="/style.css">

</head>
<div class="container">
	<div class="row">
		<div class="col-12">
			<nav class="navbar fixed navbar-dark bg-dark">

					<a class="navbar-brand" href="/">Home</a>
					<a class="navbar-brand" href="/specificTaxi">Specific</a>
					<a class="navbar-brand" href="/region">Region</a>
					<a class="navbar-brand" href="/regionInfo/">Region Info</a>
			</nav>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-2"></div>
		<div class="col-8">
			<h1 class="display-1">Taxi Trips App</h1>
		</div>
		<div class="col-2"></div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-12">
			<hr>
		</div>
	</div>
</div>



{{{body}}}


</html>